<h1><%= @user.name %>さんのタスク</h1>

<!--ここにタスクを表示すること　-->
<table>
    <thead>
        <tr>
            <th>タスク</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
